- name: Install Node.js utilities
  npm: name={{ item }} global=yes
  become: yes
  with_items:
    - gatsby-cli
    - gatsby-dev-cli
    - jsonlint
    - js-yaml
    - eslint
    - eslint-plugin-flowtype
    - eslint-config-prettier
    - eslint-config-google
    - eslint-plugin-react
    - prettier
    - babel-eslint
    - eslint-plugin-react
    - yarn
    - typescript-language-server
    - eslint_d
