- name: install common utilities on Fedora machines
  yum: name={{ item }} state=present
  tags: install
  with_items:
      - xz-devel
      - tmux
      - ctags
      - mosh
      - vim-enhanced
      - smem

- include: the_silver_searcher_from_source.yml
